.inicio-container {
  text-align: center;
  padding: 5rem ;
  /* background: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
  border-radius: 20px;
  box-shadow: 8px 8px 16px #b8b8b8, -8px -8px 16px #ffffff;*/
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
  font-family: 'Segoe UI', sans-serif;
}

.titulo{
  width: 40%;
}

.baner{
  width: 100%;
}

.inicio-texto p {
  color: #444;
  font-size: 1rem;
  line-height: 1.6;
  margin: 1rem 0;
}

.inicio-imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.inicio-imagenes img {
  width: 13%;
  min-width: 100px;
  /* border-radius: 15px;
  box-shadow: 4px 4px 10px #a0a0a0, -4px -4px 10px #ffffff; */
  transition: transform 0.3s ease;
}

.inicio-imagenes img:hover {
  transform: scale(1.05);
}

.inicio-enlaces {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.inicio-enlaces a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  background: linear-gradient(to bottom, #e8e8e8, #d0d0d0);
  padding: 0.6rem 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #b8b8b8, -4px -4px 8px #ffffff;
  transition: all 0.2s ease;
}

.inicio-enlaces a:hover {
  transform: scale(1.05);
  background: linear-gradient(to bottom, #d0d0d0, #c0c0c0);
}

/* Responsivo */
@media (max-width: 768px) {
  .inicio-imagenes img {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .inicio-imagenes img {
    width: 80%;
  }

  .inicio-enlaces a {
    font-size: 0.9rem;
  }
}
